<style>
    .message-content {
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        font-size: 18px;
        line-height: 21px;
    }

    .message-content a {
        text-decoration: none;
        background: #ff9000;
        color: #ffffff;
        padding: 16px;
        border-radius: 8px;
        transition: background-color 250ms ease;
    }

    .message-content a:hover {
        background: #c66500;
    }
</style>

<div class="message-content">
    <p>Olá {{name}},</p>
    <p>Se você perdeu sua senha ou deseja resetá-la, clique no link abaixo:</p>
    <br/>
    <p><a href="{{link}}">Resetar minha senha</a></p>
    <br/>
    <p>Se não foi você, por favor desconsidere esse email</p>
    <p>
        Atenciosamente,<br/>
        <strong>Equipe GoBarber.</strong>
    </p>
</div>
